html{
    height: 100%;
}
body{
    font-family: monospace;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.conteiner{
    background-color: blue;
    height: min-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 1em;
    padding: 1em;
    width: 80%;
    border-radius: 20px;
}
.conteiner-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1em 0em ;
}
input{
    width: 100%;
    border-radius: 20px 0px 0px 20px;
    font-size: 2em;
    height: 2em;
    padding: 0em 1em 0em 1em;
}
.insert-button{
    font-size: 2em;
    width: fit-content;
    height: 2em;
    border-radius: 0px 20px 20px 0px;
    padding: 0em 1em 0em 1em;
    text-align: center;   
}
.task{
    padding: 2em;
    width: fit-content;
    height: fit-content;
    background-color: rgb(39, 39, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    border: 5px solid black;
    border-radius: 20px;
}
button{
    width: fit-content;
    height: fit-content;
    padding: 1em 2em;
    border-radius: 20px;
    font-size: 2em;
}
p{
    font-size: 2em;
    color: white;
    text-align: center;
}
.tasks-conteiner{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
}
